/* base.html */
body, html {
  height: 100%;
}

body {
  background-color: black;
}

/* Check for this elsewhere  */
.base-container {
  max-width: 90%;   
  margin: 0 auto; /* center the container */
  padding-left: 15px;
  padding-right: 15px;  
}

.bcwrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Set a minimum height for the main content to push the footer down */
.main-content {
  min-height: calc(100vh - 60px);  
  padding-bottom: 60px;  
  flex: 1;
  padding: 20px;
 
  text-align: center;
  padding: 50px 0;
  /* background: #f7f8fa;  */
  background-color: rgb(255, 255, 255, .7);
  --random-bg: url('/static/images/latbg1.jpg'); /* default/fallback */
}

.main-content::before {
  /* Pseudo-element for the background image */
  content: "";
  /* background-image: url('/static/images/latbg1.jpg'); */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  z-index: -1;  
  background-size: cover; 
  background-image: var(--random-bg);  
  background-position: center center;  
}

.navbar {
  margin-bottom: 20px;
}

.nbsfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5; /* Adjust the background color as needed */
  padding: 5px 0; /* Add padding to your footer as needed */
  text-align: center; /* Center the content in the footer */
  font-size: 12px; 
}


/* Button and input widths  */

/* These need to be deleted later  */
.limited-width {
  width: 450px;  
}

.more-limited-width { 
  max-width: 200px; 
  min-width: 160px;
  margin: 10px auto 10px;
}

.explicit-mlw {
  width: 200px;
}
/* These need to be deleted later  */

.btn-tiny {  
  margin: 0 5px;
  width: 125px;
}

/* top and bottom */
.add-ttbmargin {
  margin: 6px auto 6px;
}

.add-stbmargin {
margin: 15px auto 15px;
}

.add-ltbmargin {
margin: 30px auto 30px;
}

/* left and right  */
.add-slrmargin {
  margin: auto 15px auto 15px;
  }

.add-tlrmargin {
  margin: auto 6px auto 6px;
  }
  
.add-llrmargin {
margin: auto 30px auto 30px;
}

.imsmargin {
  margin: 0 auto 10px;
}

.margin {
  30px;
}

.admin-del {
  padding: 4px 22px 2px 22px;
  font-size: 20px; 
  width: 180px; 
  font-size: 20px;
  margin: 0 10px;
}

.btn-medium {
  margin: 30px;
  width: 180px; 
}

.btn-small {
  margin: 15px;
  width: 180px; 
}

.btn-smaller {
  margin: 15px;
  width: 150px; 
}

/* reg_log  */
.reg-text {
  font-size: 20px;
  font-weight: normal;
}

/* go_to_lists  */
.truncate-text {
  width: 341px;         /* Adjust as needed */
  white-space: nowrap;  /* Prevents the text from wrapping */
  overflow: hidden;     /* Hide overflow */
  text-overflow: ellipsis;  /* Add the ellipsis when the text overflows */
}

.list-card {
  padding: 4px 30px 2px 30px;
  font-size: 20px; 
}

.force-lead {
  padding: 4px 30px 2px 30px;
  font-size: 20px; 
}

.force-lead-tiny { 
  padding: 3px;
  font-size: 20px; 
}

.small-lead {  
  font-size: 16px; 
}

.category-card{
  background-color: rgb(255, 255, 255, .2);
}

#reposition-btn {
  padding-left: 7px;
}

.speed-control {
  transform: translateX(30%);
  z-index: 3;
}

/* Radio buttons  */
.form-div .form-check {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.form-div {
  margin-top: 15px;
}

.inline {
  display: inline-block;
}

.radio-spacing {
  margin-right: 30px;
}

/* Slideshow  */
#controlsLink {
  z-index: 1;
}

#editing-buttons {
  /* margin-bottom: 25px; */
  width: 8%;

}

.card-fields {
  text-align: left;
  margin-top: 15px;
}

.images-container {
  margin: 0 5px;
}

#addCategoryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#category-form-display {
  display: flex;
  flex-direction: column; 
  margin-left: 5%;
}

.profile-buttons {
  margin: 0 10px;
  min-width: 25%; 
}
 
.rounded-shadow {
  border-radius: 8px; /* adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adjust as needed */
}

.sm-rounded-shadow {
  border-radius: 3px; /* adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* adjust as needed */
}

.hidden-visibility {
  visibility: hidden;
}
.visible-visibility {
  visibility: visible;
}

/* *** */
/* Heading enhancements */
.main-content h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 20px;
}

/* image_response  */
.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* Making the image container square */
.image-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Gives the square aspect ratio */
}

/* Making the image maintain its aspect ratio and fit within its container */
.contained-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}
 
.reposition-arrow { 
  cursor: pointer;
  font-size: 1.5em; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: -10px; 
}

.right-arrow {
  right: -10px;
}


#editing-buttons > button, 
#editing-buttons > form > input[type="submit"], 
#editing-buttons > .mb-3 > a {
    margin-right: 10px; /* Add spacing between buttons */
}

#editing-buttons > form {
    display: inline-block; /* Display form inline so its child input doesn't break the row */
    margin-right: 10px;
}

.smallBreak { 
  display: block;
  margin-bottom: 4px;    
}

.about-container { 
}

.documentation-wrapper {
  width: 80%;
  margin: auto;
}
.documentation-container { 
  text-align: left;
}