/* .slideshow-container img {
  display: block;
  max-width: 50%;
} 

.slideshow-container{
  
  justify-content: center;
}


.mySlides.fade {
    
    flex-direction: column;
    justify-content: center;  
}

.mySlides img {
}

.mySlides {
  opacity: 1;
}

.slide {
} */


.slideshow-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  /* width: 100%; */
} 
 
.slideshow-container img {
display: block;
max-width: 50%;
margin: 0 auto;
} 
 
.mySlides {
  display: none; 
  height: 100%;
  opacity: 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} 
 
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.hidden {
  display: none !important;
}