{% extends "base.html" %} 

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"> 

<div class="container about-container"> <!-- Spacing at the top and bottom -->

    <h2>Welcome to LookAtThat!</h2>
    <p class="lead">We're delighted you're here, and look forward to helping you in you homes, classrooms, 
        workplaces, leisure time, or anywhere else we can be a part of your visual learning and enjoyment!</p>
    <hr> 

    <h2>What is LookAtThat?</h2>
    <p class="lead">At its core, LookAtThat is an image curation application powered by the Flickr API. 
        Picture this: You're looking to introduce someone to the diverse array of animals found in a zoo. 
        With our platform, you can effortlessly compile lists of these magnificent creatures, complete with 
        vivid images, and then dive into interactive slideshows or quizzes to enrich the learning experience.</p>
    <hr> 

    <h2>Come on in, the water's fine!</h2>
    <p class="lead">Once you <a href="{{ url_for('user_routes.reg_log') }}">register</a> and 
        <a href="{{ url_for('user_routes.reg_log') }}">log in</a>, you will have full access 
        to LookAtThat. We've got your back with some pre-crafted lists to get you started, in particular the Dolch sight-word lists
        are a seminal aspect of what we've tried to present here.</p>
    <hr> 

    <h2>Your Privacy Matters</h2>
    <p class="lead">We value your privacy. Rest assured, your data remains untouched, unsold, and revered. 
        We've built "LookAtThat" with utmost care, ensuring your data's sanctity. However, as our hosting 
        is courtesy of Render.com, it's a good idea to skim through their <a href="https://www.render.com/tos">terms of service</a> 
        for a comprehensive understanding of their data handling practices.</p>
    <hr> 
  <div class="documentation-wrapper">
    <div class="documentation-container"> 
        <!-- Check if the user is logged in -->
        {% if current_user.is_authenticated %}
 
        <!-- Check if the user is logged in --> 
        <p><span class="small-lead">DOCUMENTATION</span></p>
        
        <p class="smallBreak">In this section we hope to anticipate as many of your questions as possible about how to use the app.</p>
        
        <p class="smallBreak">For those not logged in, you have access to these menu items:</p>
        
        <p class="smallBreak"><span class="text-primary">LOOK AT THAT!</span> takes you to the home page.</p>
        
        <p class="smallBreak"><span class="text-primary">About</span> is where you are now, providing a description of how the website works to anticipate as many questions as possible.</p>
        
        <p class="smallBreak"><span class="text-primary">Contact</span> Support is where you can send feedback, whether or not you are a registered user.</p>
        
        <p class="smallBreak"><span class="text-primary">Register or Login</span> is where you register and subsequently login, if you wish to use the site.</p><hr>
        
        <p class="small-lead smallBreak">For a registered and logged in user:</p>

        <p class="smallBreak"><span class="text-primary">About:</span> This page now has user section for how to use website.</p>
        
        <p class="smallBreak"><span class="text-primary">Create List:</span> Creating a new list will redirect you to list details for that specific list, where you can add images and edit how you like. It will currently show up in the 'Your New Lists' section until images are added.</p>
        
        <p class="smallBreak">The <span class="text-primary">Go To Lists</span> page displays the available lists in 3 sections: lists you have created, lists provided by the admins, and all lists from all users together for browsing. If you create a list that does not yet have images, it will only show on the 'Your New Lists' section (which will be invisible if there are no new lists without images) The 'All Lists' radio button has functionality for reporting a list.</p>

        <p class="smallBreak"><span class="text-primary">List Details:</span> If you are the list creator, you will have editing buttons. If not, you will only see buttons for the Slideshow and Hide Fields.</p>
        
        <p class="smallBreak"><span class="text-primary">List Details Editing Buttons:</span></p>
        
        <p class="smallBreak"><span class="text-primary">Add a Category:</span> If your list currently does not have a category, this takes you to a page where you can add a category by choosing from a dropdown or entering a new category. Then there are buttons for saving the category or canceling back to list details. If the list does have a category, then the Remove Category button will be showing. If you use either the add or remove category button, then the opposite one will show.</p>
        
        <p class="smallBreak"><span class="text-primary">Edit List Name:</span> This takes you to a page where you can input a new name, then save it or cancel back to the list details page.</p>
        
        <p class="smallBreak"><span class="text-primary">Edit Fields:</span> This takes you to a page for editing the fields you want for describing the images in your list. Note that you don't add the actual information for images here, you do that on the Edit Image buttons located under each image on the List Details page.</p>
        
        <p class="smallBreak"><span class="text-primary">Add Image:</span> This takes you to a page where you can either search for images or input your own url of choice. Note, you cannot upload photos with this app. However, you could for instance get your own Flickr account (or some other image hosting account) and then use pictures from that account in your lists if you want to use specific pictures of things you can't find on Flickr. Note that the heart of this site is teaching and learning interactions with children, so act accordingly.</p>
        
        <p class="smallBreak"><span class="text-primary">Reposition Images:</span> This brings up positioning arrows on every image, allowing you to move them left or right on the page. If you click Reposition Images, the button is replaced by a save Images button. There is no cancel, but if you hit the button by mistake or decide you don't want to change anything, just click Save Position.</p>
        
        <p class="smallBreak"><span class="text-primary">Slideshow:</span> This page has buttons for returning to the List Details page for the current list or Start Slideshow.</p>
        <p class="smallBreak"> Slideshow functionality:</p>
        <ol>
            <li>Setting the speed - changing the number in this dropdown automatically sets the speed of the slideshow to that number of seconds.</li>
            <li>Clicking the left or right arrow key will stop the slideshow and move through the images as the user desires, while clicking the enter key will restart the movement of the slideshow.</li>
            <li>Clicking the image or the white space around it will stop the slideshow and return to the Slideshow page.</li>
        </ol>

        <p class="smallBreak"><span class="text-primary">Hide Fields:</span> This button lets you hide all the associated information for images on the page if you just want to see the images. If you click Hide Fields, it is replaced with Show Fields so you can turn them back on if you like.</p>
    
        <p class="smallBreak"><span class="text-primary">The images themselves:</span> Images are displayed on cards so they display more consistently on the page, as images uploaded to flicker could be at any given aspect ratio. If you are the list creator, you will see buttons under every image for Edit and Delete. The Edit button takes you to the page where you can add specific information to each of your fields for the image. Note that you can even replace the image url if you wish.</p>
    
        <p class="smallBreak"><span class="text-primary">Profile:</span> Displays the user's profile data and has buttons for Edit Profile, Change Password and Delete Profile.</p>
        
        <p class="smallBreak"><span class="text-primary">Logout:</span> press this when you absolutely positively have to leave us and do something else!</p>
        
        <hr>
        {% endif %}
    
        <!-- Check if the user is logged in and is an admin -->
        {% if current_user.is_authenticated and current_user.is_admin %}
        <p><span class="small-lead">For a register and logged in Admin:</span></p>
        
        <p class="smallBreak"><span class="text-primary">About:</span> This page has user section for how to use website plus an admin section for the admin differences.</p>
    
        <p class="smallBreak"><span class="text-primary">Create List:</span> Admins will have a radio select option for creating a 'core list', which will show up on the 'Our Lists' section of the Lists page (Go To Lists).</p>
    
        <p class="smallBreak"><span class="text-primary">Go To Lists:</span> On the 'All Lists' page Admins will see 'Delete' functionality for all lists</p>

        <p class="smallBreak"><span class="text-primary">List Details:</span> Admins will see 'Delete' functionality on all images.</p> 
        {% endif %}

        </div>
    </div>
</div>
{% endblock %}
 

