{% extends "base.html" %}

{% block content %}  
<link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}"> 
<div id="list_id" data-list-id="{{ list_id }}"></div>

<h1 id="headerText">HEY!</h1>

<div class="container">

  <!-- Start Slideshow Button -->
  <a href="{{ url_for('list_routes.list_details', list_id=list_id) }}" id="list-details" class="btn btn-primary">Back to List Details</a>
  <a href="{{ url_for('list_routes.slideshow', list_id=list_id) }}" id="startSlideshow" class="btn btn-primary">Start Slideshow</a>

  <!-- Slideshow container -->
  <div class="slideshow-container">
      {% for image in images %}
      <!-- Slides -->
      <div class="mySlides fade">
          
              {#<img src="{{ image.image_url }}">#}
              {#<img src="{{ image.image_url }}" onload="console.log('Image loaded')" onerror="console.log('Image failed to load')">#}
              <img src="{{ image.image_url }}" style="opacity:1; z-index:9999; position:relative;">

          
      </div>
      {% endfor %}
  </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>    

{% endblock %}  

 