{% extends "base.html" %}

{% block content %}
<div>
    <h2>Change Password</h2>

    <form method="post" action="{{ url_for('user_routes.change_password') }}">
      {{ form.hidden_tag() }}
      Current Password: {{ form.current_password }}<br>
      New Password: {{ form.new_password }}<br>
      Confirm New Password: {{ form.confirm_new_password }}<br>
      <input type="submit" value="Update Password">
    </form>

    <a href="{{ url_for('user_routes.user_profile') }}" class="btn btn-secondary">Back to Profile</a>
</div>
{% endblock %}
