{% extends "base.html" %}

{% block content %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

<div class="container mt-5">
  <div class="row">
      <div class="col-md-3"></div>  <!-- This is a spacer -->
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h2>Change Password</h2>
              </div>
              <div class="card-body">
                  <form method="post" action="{{ url_for('user_routes.change_password') }}">
                      {{ form.hidden_tag() }}
                      
                      <div class="form-div">
                          <label class="form-label lead" for="current_password">Current Password:</label>
                          {{ form.current_password(class="form-control") }}
                      </div>
                      
                      <div class="form-div">
                          <label class="form-label lead" for="new_password">New Password:</label>
                          {{ form.new_password(class="form-control") }}
                      </div>
                      
                      <div class="form-div">
                          <label class="form-label lead" for="confirm_new_password">Confirm New Password:</label>
                          {{ form.confirm_new_password(class="form-control") }}
                      </div>
                  </form>
                  <div class="d-flex justify-content-between mt-2">
                      <input type="submit" value="Update Password" class="btn btn-warning small-lead btn-medium">
                      <a href="{{ url_for('user_routes.user_profile') }}" class="btn btn-primary small-lead btn-medium">Back to Profile</a>
                  </div>

              </div>
          </div>
        <div class="col-md-3"></div>  <!-- This is another spacer -->
      </div>
  </div>
</div>
{% endblock %}

 