{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>  <!-- This is a spacer -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Create a List</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ form.hidden_tag() }}
                    
                        <div class="form-div">
                            {{ form.list_name.label(class="lead") }}<br>
                            {{ form.list_name(class="form-control") }}
                            {% if form.list_name.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.list_name.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    
                        {% if current_user.is_admin %}
                        {# This is rendered differently because I couldn't get rid of the bullet points. #}
                        <div class="form-div">
                            {{ form.core_list.label(class="lead") }}<br>
                            {% for value, label in form.core_list.choices %}
                                <div class="form-check">
                                    <input type="radio" name="core_list" value="{{ value }}" id="core_list_{{ loop.index }}" class="form-check-input"
                                    {% if form.core_list.data == value %} checked {% endif %}>
                                    <!-- Add the 'lead' class to the labels for 'Yes' and 'No' -->
                                    <label for="core_list_{{ loop.index }}" class="form-check-label lead">{{ label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    
                        <div class="form-div">
                            {% for category in categories %}
                                {{ form.category_name.choices.append((category.name, category.name)) }}
                            {% endfor %}
                            {{ form.category_name.label(class="lead") }}<br>
                            {{ form.category_name(class="form-control") }}
                        </div>
                    
                        <div class="form-div">
                            {{ form.new_category.label(class="lead") }}<br>
                            {{ form.new_category(class="form-control") }}
                        </div>
                    
                        <div class="mt-4">
                            {{ form.submit(class="btn btn-primary btn-small add-stbmargin") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>  <!-- This is another spacer -->
    </div>
</div>
{% endblock %}






 