{% extends "base.html" %}

{% block content %}
<h1>Hello from create_list!</h1>

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    List Name: <input type="text" name="list_name"><br>

    {% if current_user.is_admin %}
        <div class="form-group">
            <label>Make a core list?</label>
            <input type="radio" name="core_list" value="yes"> Yes
            <input type="radio" name="core_list" value="no" checked> No
        </div>
    {% endif %}

    Category: 
    <select name="category_name">
        <option value="">-- Choose existing or enter new --</option>
        {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    Or enter new category: <input type="text" name="new_category"><br>

    <input type="submit" value="Create">
</form>

{% endblock %}

 