{% extends "base.html" %}

{% block content %}
<h1>Hello from create_list!</h1>

<form method="post">
    List Name: <input type="text" name="list_name"><br>
    
    Category: 
    <select name="category_name">
        <option value="">-- Choose existing or enter new --</option>
        {% for category in categories %}
            <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    Or enter new category: <input type="text" name="new_category"><br>

    Fields: 
    <!-- This is a placeholder; you'd need to generate these based on the Image model's fields --> 
    <input type="checkbox" name="fields" value="description">Description<br>
    <input type="checkbox" name="fields" value="year">Year<br>
    <input type="checkbox" name="fields" value="num_pieces">Number of Pieces<br>
    <input type="checkbox" name="fields" value="cat_number">Catalogue Number<br>
    <input type="checkbox" name="fields" value="country_of_origin">Country of Origin<br>
    <input type="checkbox" name="fields" value="manufacturer">Manufacturer<br>
    <!-- Add other fields similarly -->

    <input type="submit" value="Create">
</form>

{% endblock %}

 