{% extends "base.html" %}

{% block content %}
<div>
    <h2>Edit Profile</h2>

    <form method="post">
      {{ form.hidden_tag() }}
      First Name: <input type="text" name="first_name" value="{{ current_user.first_name }}" required><br>
      Last Name: <input type="text" name="last_name" value="{{ current_user.last_name }}" required><br>
      Username: <input type="text" name="username" value="{{ current_user.username }}" required><br>
      Email: <input type="email" name="email" value="{{ current_user.email }}" required><br>
      <input type="submit" value="Update Profile" class="btn btn-warning">
    </form>
</div>
{% endblock %} 