{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"> 

<div class="container mt-4">
    <div class="row">
        <div class="text-center">

            <h1 class="mb-4">Edit Fields for List {{ list_id }}</h1>
            <input type="hidden" id="list_id" value="{{ list_id }}">

            <form id="dynamicFieldsForm" method="post" action="{{ url_for('list_routes.edit_fields_post', list_id=list_id) }}">
                <input type="hidden" name="csrf_token" id="csrfToken" value="{{ csrf_token() }}">
                <input type="hidden" name="list_id" value="{{ list_id }}">

                <!-- Existing fields rendered here -->
                {% for field in fields %}
                <div class="field-container row mt-2" data-field-id="{{ field.id }}">
                    <!-- Field Name Column (5 out of 12 grid columns) -->
                    <div class="col-md-5">
                        <input type="text" class="form-control limited-width small-lead" name="field_name_{{ field.id }}" value="{{ field.name }}" required>
                    </div>
                    
                    <!-- Radio buttons for data type Column (4 out of 12 grid columns) -->
                    <div class="col-md-2">
                        <label class="radio-spacing add-stbmargin"><input type="radio" name="field_type_{{ field.id }}" value="text" {% if field.type == 'text' %} checked {% endif %}> Text</label>
                        <label><input class="small-lead" type="radio" name="field_type_{{ field.id }}" value="number" {% if field.type == 'number' %} checked {% endif %}> Number</label>
                    </div>
                
                    <!-- Delete button Column (3 out of 12 grid columns) -->
                    <div class="col-md-5">
                        <button type="button" class="btn btn-danger btn-block limited-width small-lead" onclick="deleteField({{ field.id }})">Delete This Field</button>
                    </div>
                </div>
                {% endfor %}
               

                <!-- Container where new fields will be appended -->
                <div id="fieldsContainer"></div>

                <!-- Button to add a new field -->
                <button type="button" class="btn btn-primary btn-block more-limited-width mt-2 small-lead" id="addFieldBtn">Add Field</button>
                <input type="submit" class="btn btn-success btn-block more-limited-width mt-2 small-lead" value="Save Fields">
            </form>
            
            <button class="btn btn-default btn-block mb-3 more-limited-width btn-primary small-lead" onclick="location.href='{{ url_for('list_routes.list_details', list_id=list_id) }}'">Cancel</button>
        
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/edit_fields.js') }}"></script>
{% endblock %}
