{% extends "base.html" %}

{% block content %} 
{% if current_user.is_authenticated %}
    <h1>Welcome to LookAtThat, {{ current_user.username }}!</h1>
{% else %}
    <h1>Welcome to LookAtThat!</h1>
{% endif %}

<div data-group="allLists">
    <h2>All Lists</h2>

    {% for image_list in all_lists %}
             
            <!-- Only include lists that have images; image should act as an href -->
            {% if image_list.images|length > 0 %}
            <a href="{{ url_for('list_routes.list_details', list_id=image_list.list_id) }}" class="list-card col-md-2 add-stbmargin">
                    <img src="{{ image_list.images[0].image_url }}" alt="{{ image_list.images[0].name }}" height="100">
                           
            </a>
            {% endif %} 
          
    {% endfor %}
</div>
{% endblock %}
