<!-- templates/image_response.html -->

{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/image_response.css') }}">

<div class="container">
    <h2>Images from Flickr</h2>
    <div class="image-grid">
        {% for image in images %}
            <div class="image-container">
                <img src="{{ image.url }}" alt="{{ image.title }}">
                <p>You can change this image later if you wish.</p>
                <button onclick="chooseImage('{{ image.url }}', {{ list_id }});">Choose This Image</button>
            </div>
        {% endfor %}
    </div>

<script src="{{ url_for('static', filename='js/image_response.js') }}"></script>    
{% endblock %}
 
{% for image in images %}
    <div class="image-container">
        <img src="{{ image.url }}" alt="{{ image.title }}">
        <button onclick="chooseImage('{{ image.url }}', {{ list_id }});">Choose This Image</button>
    </div>
{% endfor %}


{% for image in images %}
    <div class="image-container">
        <img src="{{ image.url }}" alt="{{ image.title }}">
        <p>You can change this image later if you wish.</p>
        <button class="select-image-btn" data-image-url="{{ image.url }}">Choose This Image</button>
    </div>
{% endfor %}

{% for image in images %}
<div data-list-id="{{ image.list_id }}">
    <img src="{{ image.url }}" alt="{{ image.title }}" {# onclick="showSaveImagePopup('{{ image.url }}')" #} />
    <p>{{ image.title }}</p>
    <p><a href="{{ image.url }}" target="_blank">{{ image.url }}</a></p>
</div>
{% endfor %}