{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

<div class="container mt-4">
    <div class="row">
        <div class="text-center">

            <h1 class="mb-4">Add Image to {{ image_list.name }}</h1>
            <input type="hidden" id="list_id" value="{{ image_list.list_id }}">

            <div class="text-center">
                <!-- Search Bar -->
                <form id="searchForm" class="limited-width imsmargin">
                    <input type="hidden" name="csrf_token" id="csrfToken" value="{{ csrf_token() }}">
                    
                        <input type="text" class="form-control limited-width imsmargin small-lead" id="searchQuery" placeholder="Search for an image on Flickr">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-block limited-width imsmargin small-lead" type="submit">Search</button>
                        </div>
                    
                </form>

                <!-- Manual URL Input -->
                <form id="manualInputForm" onsubmit="event.preventDefault(); openImageNameModal();" class="limited-width imsmargin">
                    <input type="hidden" name="csrf_token" id="csrfToken" value="{{ csrf_token() }}">
                    
                        <input type="url" class="form-control limited-width imsmargin small-lead" id="manualImageUrl" placeholder="Enter an image URL directly">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-block limited-width imsmargin small-lead" type="submit">Submit URL</button>
                        </div>
                </form>

                <button class="btn btn-default btn-block mb-3 btn-primary limited-width imsmargin small-lead" onclick="location.href='{{ url_for('list_routes.list_details', list_id=list_id) }}'">Cancel</button>

                <!-- Image Name Modal -->
                <div id="imageNameModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Provide a name for the image:</p>
                        <input type="text" id="imageName" placeholder="Image Name">
                        <button onclick="saveImageUrlWithName(event)">Save</button>
                    </div>
                </div>

                <!-- Search Results -->
                <div id="searchResults" class="mt-4">
                    {% if search_performed %}
                        {% if images and images|length > 0 %}
                            {% for image in images %}
                                <img src="{{ image.url }}" alt="{{ image.title }}" onclick="showSaveImagePopup('{{ image.url }}');" class="m-2">
                            {% endfor %}
                        {% else %}
                            <p>No images found.</p>
                        {% endif %}
                    {% endif %}
                </div>
                
            </div>

        </div>
    </div>
</div>

<script>
    console.log("Inline script is working");
</script>

<script src="{{ url_for('static', filename='js/image_search.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
