{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list_details.css') }}"> 

<input type="hidden" id="csrfToken" value="{{ csrf_token() }}">

<!-- HTML part -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5"> 
    <div id="liveToast" class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body alert-success"></div>
    </div>
 </div>

<h2>List details for:</h2>
<h1 id="listNameDisplay">{{ image_list.name }}</h1> 

<div id="editing-buttons">
<div style="display: flex; justify-content: center;">

    <button id="editListNameButton" class="btn btn-primary btn-bl" data-edit-url="{{ url_for('list_routes.edit_list_name', list_id=image_list.list_id) }}" onclick="editListName()">Edit List Name</button>

    <div class="mb-3" style="display: inline-block;">
        <a href="{{ url_for('image_routes.image_search', list_id=image_list.list_id) }}" class="btn btn-primary">Add Image</a>
    </div>
            <button id="categoryButton" 
                data-list-id="{{ image_list.list_id }}" 
                data-add-url="{{ url_for('list_routes.add_category_page', list_id=image_list.list_id) }}"
                class="btn btn-primary" 
                onclick="toggleCategory({{ image_list.list_id }})">
                {% if image_list.category_id %}
                    Remove Category?
                {% else %}
                    Add a Category?
                {% endif %}
            </button>

    <button id="save-btn" class="btn btn-primary" style="display: none;">Save Position?</button>
    

    <button id="reposition-btn" class="btn btn-primary">Reposition Images?</button>
    <button id="save-btn" class="btn btn-primary" style="display: none;">Save Position?</button>
    <button id="editFieldsButton" data-list-id="{{ list_id }}" class="btn btn-primary">Edit Fields</button>
    <button id="slideshow-button" data-list-id="{{ list_id }}" class="btn btn-primary" style="height: 33px;">Slideshow</button>
    </div>


</div>

<div class="row"> 
    {% for image in images %}
        <div class="col-md-3 col-sm-6 mb-4">
            <div class="card image-entry" data-creator-id="{{ image_list.creator_id }}" data-current-user-id="{{ current_user.id }}">
                <!-- Image Container -->
                <div class="card-img-top image-container">
                    <a href="{{ url_for('image_routes.view_full_image', image_id=image.image_id) }}">
                        <img src="{{ image.image_url }}" class="contained-img" data-image-id="{{ image.image_id }}" data-position="{{ image.image_positions.position }}" alt="{{ image.name }}">
                    </a>
                    <!-- Left Arrow for repositioning. Hidden for first image. -->
                    <i class="fas fa-arrow-left reposition-arrow left-arrow" style="display: none;" {% if loop.first %}style="display:none"{% endif %}></i>
                    <!-- Right Arrow for repositioning. Hidden for last image. -->
                    <i class="fas fa-arrow-right reposition-arrow right-arrow" style="display: none;" {% if loop.last %}style="display:none"{% endif %}></i>
                </div>
            
                <div class="card-body">
                    <!-- Image Details Here -->
                    <p><strong>Name:</strong> {{ image.name }}</p>
                    {% set field_values = image_field_values[image.image_id] %}
                    {% for field in fields %}
                        <p>{{ field.name }}: {{ field_values.get(field.id, '') }}</p>
                    {% endfor %}

                    {% if current_user.id == image_list.creator_id %}
                        <!-- Edit/Delete Image Buttons -->
                        <button class="btn btn-primary btn-sm" onclick="location.href='{{ url_for('image_routes.edit_image', list_id=list_id, image_id=image.image_id) }}?selected_image_url={{ image.image_url }}'">Edit this Image</button>
                    {% endif %}
                    {% if current_user.id == image_list.creator_id or current_user.is_admin %}
                        <!-- Edit/Delete Image Buttons -->
                        <button class="btn btn-danger btn-sm" onclick="if(confirm('Are you sure you want to delete this image?')) { location.href='{{ url_for('image_routes.delete_image', list_id=list_id, image_id=image.image_id) }}' }">Delete</button>
                    {% endif %}
                    {#
                        <!-- Edit/Delete Image Buttons -->
                    <button class="btn btn-primary btn-sm" onclick="location.href='{{ url_for('image_routes.edit_image', list_id=list_id, image_id=image.image_id) }}?selected_image_url={{ image.image_url }}'">Edit this Image</button>
                    <button class="btn btn-danger btn-sm" onclick="if(confirm('Are you sure you want to delete this image?')) { location.href='{{ url_for('image_routes.delete_image', list_id=list_id, image_id=image.image_id) }}' }">Delete</button>
                    #}
                </div>
            </div>
        </div>
    {% endfor %}
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='js/list_details.js') }}"></script>    
{% endblock %}   