{% extends "base.html" %}

{% block content %}
<h2>List details for:</h2>
<h1>{{ image_list.name }}</h1>

{% if image_list.category_id %}
    <h2>Category: {{ image_list.category.name }}</h2>
    <form action="{{ url_for('list_routes.remove_category', list_id=image_list.list_id) }}" method="post">
        <input type="submit" class="btn btn-warning" value="Remove Category?">
    </form>
{% else %}
<button class="btn btn-primary" onclick="showCategoryForm()">Add a Category?</button>

<div id="categoryForm" style="display: none;">
    <h1>Add a Category</h1>

    <form method="post" action="{{ url_for('list_routes.add_category_to_list', list_id=image_list.list_id) }}">
        Category: 
        <select name="category_name">
            <option value="">-- Choose existing or enter new --</option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        Or enter new category: <input type="text" name="new_category"><br>
        
        <input type="submit" value="Add Category">
    </form>
</div>
{% endif %}


<div class="mb-3">
    <a href="{{ url_for('image_routes.image_search', list_id=image_list.list_id) }}" class="btn btn-primary">Add Image</a>  <!-- Assuming the route to the 'add_image.html' page is 'add_image_route' -->
</div>

<button id="editFieldsButton" data-list-id="{{ list_id }}" class="btn btn-primary">Edit Fields</button>

{% for image in images %}
    <div class="image-entry">
        <img src="{{ image.image_url }}" alt="{{ image.name }}">
        <p><strong>Name:</strong> {{ image.name }}</p> 
        

        <!-- Display custom fields -->
        {#
        {% if image.custom_fields %}
            {% for field, value in image.custom_fields.items() %}
                <p><strong>{{ field }}:</strong> {{ value }}</p>
            {% endfor %}
        {% endif %}
        #}

        <!-- Display the user-defined fields for this image -->
        {#
            {% for field in fields %}
            <div class="field-container">
                <strong>{{ field.name }}:</strong> 
                <!-- Note: This assumes each Image has attributes matching the field names. Adjust accordingly. -->
                {% if field.type == 'text' %}
                    <span>{{ image[field.name] }}</span> 
                {% elif field.type == 'number' %}
                    <span>{{ image[field.name] }}</span>
                {% endif %}
            </div>
            {% endfor %}
        #}

        
        {% set field_values = image_field_values[image.image_id] %}
        {% for field in fields %}
            <p>{{ field.name }}: {{ field_values.get(field.id, '') }}</p>
        {% endfor %}
        

        <!-- Add/Edit Image Button -->
        {# <button onclick="location.href='{{ url_for('image_routes.edit_image', list_id=list_id, selected_image_url=image.image_url) }}'">Edit this Image?</button> #}
        <p>Image ID: {{ image.image_id }}</p>
        {# <button onclick="location.href='{{ url_for('image_routes.edit_image', list_id=list_id, image_id=image.id, selected_image_url=image.image_url) }}'">Edit this Image?</button> #}
        <button onclick="location.href='{{ url_for('image_routes.edit_image', list_id=list_id, image_id=image.image_id) }}?selected_image_url={{ image.image_url }}'">Edit this Image?</button>
        <button onclick="if(confirm('Are you sure you want to delete this image?')) { location.href='{{ url_for('image_routes.delete_image', list_id=list_id, image_id=image.image_id) }}' }">Delete This Image?</button>

    </div>
{% endfor %}

<script src="{{ url_for('static', filename='js/list_details.js') }}"></script>    
{% endblock %}



 
 
 

 