{% extends "base.html" %}

{% block content %}
<h1>Hello from listDetails!</h1>

<div class="mb-3">
    <a href="{{ url_for('image_routes.image_search', list_id=image_list.list_id) }}" class="btn btn-primary">Add Image</a>  <!-- Assuming the route to the 'add_image.html' page is 'add_image_route' -->
</div>

<button id="editFieldsButton" data-list-id="{{ list_id }}" class="btn btn-primary">Edit Fields</button>

<h2>{{ image_list.name }}</h2>

{% for image in images %}
    <div class="image-entry">
        <img src="{{ image.image_url }}" alt="{{ image.name }}">
        <p><strong>Name:</strong> {{ image.name }}</p> 
        

        <!-- Display custom fields -->
        {#{% if image.custom_fields %}
            {% for field, value in image.custom_fields.items() %}
                <p><strong>{{ field }}:</strong> {{ value }}</p>
            {% endfor %}
        {% endif %}
        #}

        <!-- Display the user-defined fields for this image -->
        {% for field in fields %}
            <div class="field-container">
                <strong>{{ field.name }}:</strong> 
                <!-- Note: This assumes each Image has attributes matching the field names. Adjust accordingly. -->
                {% if field.type == 'text' %}
                    <span>{{ image[field.name] }}</span> 
                {% elif field.type == 'number' %}
                    <span>{{ image[field.name] }}</span>
                {% endif %}
            </div>
        {% endfor %}
        {#<button onclick="location.href='{{ url_for('image_routes.update_image', image_id=image.image_id) }}'">Update Image?</button>#}
    </div>
{% endfor %}

<script src="{{ url_for('static', filename='js/list_details.js') }}"></script>    
{% endblock %}

<div class="container">
    {% for image in images %}
        <img src="{{ image.get('image_url', '#') }}" alt="{{ image.get('name', 'No Name') }}">
        {% for key, value in image.items() %}
            {% if key not in ['image_url', 'name'] %}  <!-- Exclude fields you don't want to display as text -->
                <p><strong>{{ key.replace('_', ' ').capitalize() }}:</strong> {{ value }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}

</div>

{% for image in images %}
<div class="card mb-3">
    <img src="{{ image.image_url }}" alt="{{ image.name }}" class="card-img-top" width="200">
    <div class="card-body">
        <h5 class="card-title">{{ image.name }}</h5>
        <!-- Add more image fields here as needed -->
    </div>
</div>
{% endfor %}